* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0044ff;
}

nav > div {
  display: flex;
}
nav > div > .left {
  height: 100%;
  width: 100%;
  /* background-color: white; */
}

nav > div > .right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* background-color: aqua; */
}

nav > div > .right > li {
  list-style: none;
  /* width: 0%; */
  height: 20%;
  margin-right: 50px;
  margin-top: 32.5px;
  font-weight: bold;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
  transition: all 0.5s ease;
}

nav > div > .right > li:hover {
  color: rgb(255, 251, 0);
  /* text-decoration: underline; */
}

nav > div > .left > img {
  /* filter: opacity(0.5); */
  width: 6%;
  height: 6%;
  margin: 20px;
  transition: all 0.5s ease;
  padding-left: 50px;
}

nav > div > .left > img:hover {
  cursor: pointer;
  /* filter: opacity(1); */
  transform: scale(1.2);
}

.main {
  height: 89vh;
  display: flex;
  flex-direction: column; /* stack logo above tv */
  align-items: center; /* center horizontally */
  justify-content: center; /* center vertically */
  text-align: center;
}

.main-logo {
  width: 75%;
  height: 75%;

  background: white;

  -webkit-mask: url("/img/logo.png") center / contain no-repeat;
  mask: url("/img/logo.png") center / contain no-repeat;

  filter: drop-shadow(0px 0px 20px rgb(0, 0, 0));
  position: relative;
}

.main-logo::after {
  content: "";
  position: absolute;
  inset: 0;
  filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));

  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, 0.6) 100%
  );

  pointer-events: none;

  -webkit-mask: url("/img/logo.png") center / contain no-repeat;
  mask: url("/img/logo.png") center / contain no-repeat;
}
