* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(/img/background.png);
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3); /* adjust darkness */
  z-index: -1; /* keeps it behind your content */
}

nav {
  margin: 15px;
  display: flex;
  width: auto;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgb(242, 255, 0);
  /* border: 1px solid rgb(163, 26, 255); */
  border-radius: 20px;
  height: 7vh;
  /* box-shadow: 0px 0px 20px rgb(163, 26, 255); */
  box-shadow: 0px 0px 20px rgb(242, 255, 0);
}

nav > .left {
  display: flex;
  align-items: center; /* vertical centering */
  /* justify-content: center; */
  width: 50%; /* optional: horizontal centering */
  color: white;
}

nav > .left > h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 30px;
}

nav > .left > h1:hover {
  cursor: pointer;
  color: #d20000;
  transition: 0.5s ease;
}

nav > .right {
  display: flex;
  color: white;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

nav > .right > li {
  list-style: none;
  margin-right: 30px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  font-weight: bold;
}

nav > .right > li:hover {
  color: rgb(0, 255, 55);
  transition: 0.5s ease;
}

nav > .right > li:last-child {
  margin-right: 30px;
}

.hero {
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89.5vh;
  position: relative;
}

.hero > .img {
  position: absolute;
}

.hero > .img > img {
  position: relative;
  background: transparent;
  width: 1500px;
  animation: glowShift 6s infinite linear;
  filter: drop-shadow(0px 0px 110px rgb(0, 0, 0));
  /* backdrop-filter: blur(4px); */
  /* filter: drop-shadow(0px 0px 70px rgb(242, 255, 0)); */
  /* background-color: aqua; */
  height: auto;
}

.hero > .programming,
.hero > .building,
.hero > .kiosk,
.hero > .media,
.hero > .crc-logo {
  position: absolute;
}

.hero > .crc-logo {
  text-align: center;
  margin-top: -75px;
}

.hero > .crc-logo > h4 {
  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  filter: drop-shadow(0px 0px 10px #fff);
}

.hero > .crc-logo > h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* color: #0d66da;  blue*/
  color: rgb(242, 255, 0);
  cursor: pointer;
  font-size: 125px;
  /* filter: drop-shadow(0px 0px 20px #0d66da); blue */
  filter: drop-shadow(0px 0px 20px rgb(242, 255, 0));
}

.hero > .programming > a,
.hero > .building > a,
.hero > .kiosk > a,
.hero > .media > a {
  text-decoration: none;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: 0.5s ease;
  filter: drop-shadow(0px 0px 25px #fff);
}

.hero > .programming > a:hover,
.hero > .building > a:hover,
.hero > .kiosk > a:hover,
.hero > .media > a:hover {
  color: rgb(0, 255, 55);
}

.hero > .programming > a > div,
.hero > .building > a > div,
.hero > .kiosk > a > div,
.hero > .media > a > div {
  text-align: center;
}

.hero > .programming > a > div > h3,
.hero > .building > a > div > h3,
.hero > .kiosk > a > div > h3,
.hero > .media > a > div > h3 {
  font-size: 15px;
}
.hero > .programming {
  margin-left: -700px;
  margin-top: -275px;
}
.hero > .building {
  margin-top: -275px;
  margin-left: 700px;
}

.hero > .kiosk {
  margin-left: -450px;
  margin-top: -100px;
}

.hero > .media {
  margin-left: 450px;
  margin-top: -100px;
}

/* testing */
.hidden {
  opacity: 0;
  transform: translateY(20px); /* starts slightly lower */
  transition: 1s ease;
  pointer-events: none; /* prevents clicking while hidden */
}

.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
/*  */
@keyframes glowShift {
  0% {
    filter: drop-shadow(0px 0px 110px rgb(255, 0, 0));
  }
  25% {
    filter: drop-shadow(0px 0px 70px rgb(242, 255, 0));
  }
  50% {
    filter: drop-shadow(0px 0px 70px rgb(255, 0, 255));
  }
  75% {
    filter: drop-shadow(0px 0px 70px rgb(0, 255, 55));
  }
  100% {
    filter: drop-shadow(0px 0px 110px rgb(255, 0, 0));
  }
}
