* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(/img/background.png);
  background-attachment: fixed;
}

html {
  scroll-behavior: smooth;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3); /* adjust darkness */
  z-index: -1; /* keeps it behind your content */
}

nav {
  margin: 15px;
  display: flex;
  width: auto;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgb(242, 255, 0);
  /* border: 1px solid rgb(163, 26, 255); */
  border-radius: 20px;
  height: 7vh;
  /* box-shadow: 0px 0px 20px rgb(163, 26, 255); */
  box-shadow: 0px 0px 20px rgb(242, 255, 0);
}

nav > .left {
  display: flex;
  align-items: center; /* vertical centering */
  /* justify-content: center; */
  width: 50%; /* optional: horizontal centering */
  color: white;
}

nav > .left > h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 30px;
}

nav > .left > h1:hover {
  cursor: pointer;
  color: #d20000;
  transition: 0.7s ease;
}

nav > .right {
  display: flex;
  color: white;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

nav > .right > a {
  color: #fff;
  text-decoration: none;
  list-style: none;
  margin-right: 30px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  font-weight: bold;
}

nav > .right > a:hover {
  color: rgb(0, 255, 55);
  transition: 0.5s ease;
}

nav > .right > a:last-child {
  margin-right: 30px;
}

.hero {
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89.5vh;
  position: relative;
}

.hero > .img {
  position: absolute;
}

.hero > .img > img {
  position: relative;
  background: transparent;
  width: 1500px;
  animation: glowShift 6s infinite linear;
  filter: drop-shadow(0px 0px 110px rgb(0, 0, 0));
  /* backdrop-filter: blur(4px); */
  /* filter: drop-shadow(0px 0px 70px rgb(242, 255, 0)); */
  /* background-color: aqua; */
  height: auto;
}

.hero > .programming,
.hero > .building,
.hero > .kiosk,
.hero > .media,
.hero > .crc-logo {
  position: absolute;
}

.hero > .crc-logo {
  text-align: center;
  margin-top: -75px;
}

.hero > .crc-logo > h4 {
  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  filter: drop-shadow(0px 0px 10px #fff);
}

.hero > .crc-logo > h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* color: #0d66da;  blue*/
  color: rgb(242, 255, 0);
  cursor: pointer;
  font-size: 125px;
  /* filter: drop-shadow(0px 0px 20px #0d66da); blue */
  filter: drop-shadow(0px 0px 20px rgb(242, 255, 0));
}

.hero > .programming > a,
.hero > .building > a,
.hero > .kiosk > a,
.hero > .media > a {
  text-decoration: none;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: 0.5s ease;
  filter: drop-shadow(0px 0px 25px #fff);
}

.hero > .programming > a:hover,
.hero > .building > a:hover,
.hero > .kiosk > a:hover,
.hero > .media > a:hover {
  color: rgb(0, 255, 55);
}

.hero > .programming > a > div,
.hero > .building > a > div,
.hero > .kiosk > a > div,
.hero > .media > a > div {
  text-align: center;
  transition: 0.7s ease;
}

.hero > .programming > a > div > h3,
.hero > .building > a > div > h3,
.hero > .kiosk > a > div > h3,
.hero > .media > a > div > h3 {
  font-size: 15px;
}

.hero > .programming > a > div > h1,
.hero > .building > a > div > h1,
.hero > .kiosk > a > div > h1,
.hero > .media > a > div > h1 {
  font-size: 50px;
}

.hero > .programming > a > div:hover,
.hero > .building > a > div:hover,
.hero > .kiosk > a > div:hover,
.hero > .media > a > div:hover {
  transform: scale(1.2) rotate(-5deg);
}

.hero > .programming {
  margin-left: -700px;
  margin-top: -275px;
}
.hero > .building {
  margin-top: -275px;
  margin-left: 700px;
}

.hero > .kiosk {
  margin-left: -450px;
  margin-top: -100px;
}

.hero > .media {
  margin-left: 450px;
  margin-top: -100px;
}

/* testing */
.hidden {
  opacity: 0;
  transform: translateY(20px); /* starts slightly lower */
  transition: 1s ease;
  pointer-events: none;
}

.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
/*  */

.videoTab {
  background-image: url(/img/background2.jpg);
  background-attachment: fixed;
  /* background: rgba(0, 0, 0, 0.3); */
}

.videoTab > .container {
  padding: 25px;
  /* padding-top: 52px; */
  /* padding-bottom: 52px; */
  display: flex;
  /* background-color: #fff; */
  justify-content: center;
  height: 95vh;
  align-items: center;
}

.videoTab > .container > .left {
  display: flex;
  width: 45%;
  border: 1px solid rgb(0, 255, 55);
  text-align: center;
  justify-content: center;
  border-radius: 60px;
  margin-right: 20px;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 30px rgb(0, 255, 55);
}

.videoTab > .container > .left > iframe {
  margin: 15px;
  width: 750px;
  height: 500px;
  border-radius: 50px;
}

.videoTab > .container > .right {
  /* display: flex; */
  background-color: transparent;
  width: 50%;
  margin-left: 35px;
  color: white;
  backdrop-filter: blur(20px);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: 1px solid rgb(0, 255, 55);
  box-shadow: 0px 0px 30px rgb(0, 255, 55);
  border-radius: 60px;
}

.videoTab > .container > .right > h1 {
  margin: 25px;
  font-size: 50px;
}

.videoTab > .container > .right > h3 {
  margin: 30px;
  font-size: 30px;
  font-family: monospace;
  font-style: italic;
}

.lhaTab {
  background-image: url(/img/background3.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: 125vw 100vh;
}

.lhaTab > .container {
  height: 95vh;
  padding: 25px;
  display: grid;
}

.lhaTab > .container > .top {
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  backdrop-filter: blur(10px);
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: 1px solid rgb(242, 255, 0);
  box-shadow: 0px 0px 20px rgb(242, 255, 0);
  border-radius: 25px;
}

.lhaTab > .container > .top > .left > img {
  width: 100px;
}

.lhaTab > .container > .top > .right > img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.lhaTab > .container > .mid-container {
  margin-top: 50px;
  height: 70vh;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.lhaTab > .container > .mid-container > .left {
  background-color: transparent;
  width: 40%;
  color: white;
  backdrop-filter: blur(20px);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: 1px solid rgb(0, 255, 55);
  box-shadow: 0px 0px 30px rgb(0, 255, 55);
  border-radius: 50px;
  padding: 25px;
}

.lhaTab > .container > .mid-container > .right {
  background-color: transparent;
  backdrop-filter: blur(20px);
  width: 40%;
  height: 100%;
  /* align-items: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: 1px solid rgb(0, 255, 55);
  box-shadow: 0px 0px 30px rgb(0, 255, 55);
}

.lhaTab > .container > .mid-container > .right > img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

@keyframes glowShift {
  0% {
    filter: drop-shadow(0px 0px 110px rgb(255, 0, 0));
  }
  25% {
    filter: drop-shadow(0px 0px 70px rgb(242, 255, 0));
  }
  50% {
    filter: drop-shadow(0px 0px 70px rgb(255, 0, 255));
  }
  75% {
    filter: drop-shadow(0px 0px 70px rgb(0, 255, 55));
  }
  100% {
    filter: drop-shadow(0px 0px 110px rgb(255, 0, 0));
  }
}
